@page
@model CreateModel

@{
    ViewData["Title"] = "Create a Post";
}

<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-4">
        <section>
            <form id="account" method="post">
                <h2>Use a local account to log in.</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Title" class="form-control" aria-required="true" placeholder="Some Title" />
                    <label asp-for="Input.Title" class="form-label">Title</label>
                    <span asp-validation-for="Input.Title" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Body" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Body" />
                    <label asp-for="Input.Body" class="form-label">Body</label>
                    <span asp-validation-for="Input.Body" class="text-danger"></span>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Create</button>
                </div>
            </form>
        </section>
    </div>
</div>
